{% extends 'index.html'%}
{% load static %}

{% block content %}
<div id="home" class="slider-area">
    <div class="bd-example">
        <div id="carouselOne" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselOne" data-slide-to="0" class="active"></li>
                <li data-target="#carouselOne" data-slide-to="1"></li>
                <li data-target="#carouselOne" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
                <div class="carousel-item bg_cover active" style="background-image:url('../static/images/python.png') ">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-xl-6 col-lg-7 col-sm-10">
                                    
                                </div>
                            </div> <!-- row -->
                        </div> <!-- container -->
                    </div> <!-- carousel caption -->
                </div> <!-- carousel-item -->

                <div class="carousel-item bg_cover" style="background-image: url('../static/images/analytics.png')">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-xl-6 col-lg-7 col-sm-10">
                                    
                                </div>
                            </div> <!-- row -->
                        </div> <!-- container -->
                    </div> <!-- carousel caption -->
                </div> <!-- carousel-item -->

                <div class="carousel-item bg_cover" style="background-image: url('../static/images/ml.jpg')">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-xl-6 col-lg-7 col-sm-10">

                                    
                                </div>
                            </div> <!-- row -->
                        </div> <!-- container -->
                    </div> <!-- carousel caption -->
                </div> <!-- carousel-item -->
            </div> <!-- carousel-inner -->

            <a class="carousel-control-prev" href="#carouselOne" role="button" data-slide="prev">
                <i class="lni-arrow-left-circle" style="color:whitesmoke"></i>
            </a>

            <a class="carousel-control-next" href="#carouselOne" role="button" data-slide="next">
                <i class="lni-arrow-right-circle" style="color: whitesmoke"></i>
            </a>
        </div> <!-- carousel -->
    </div> <!-- bd-example -->
</div>

</section>


<!--====== ABOUT PART START ======-->

<section id="about" class="about-area">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8">
            <div class="about-image text-center wow fadeInUp" data-wow-duration="1.5s" data-wow-offset="100">
                <img src="../static/images/image.png" alt="services" height="200px">
            </div>
            <div class="section-title text-center mt-30 pb-40">
                <h4 class="title wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.6s">Intelligence starts here</h4>
                <p class="text wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1s">A place for learning the cutting edge technologies</p>
            </div> <!-- section title -->
        </div>
    </div> <!-- row -->
    
    <div class="row">
        <div class="col-lg-6">
            <div class="single-about d-sm-flex mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1.2s">
                <div class="about-icon">
                    <img src="../static/images/python_logo.png" alt="Icon">
                </div>
                <div class="about-content media-body">
                    <h4 class="about-title">Python</h4>
                    <p class="text">Python is an interpreted, object-oriented, high-level programming language with dynamic semantics</p>
                </div>
            </div> <!-- single about -->
        </div>
        <div class="col-lg-6">
            <div class="single-about d-sm-flex mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1.4s">
                <div class="about-icon">
                    <img src="../static/images/numpy.png" alt="Icon">
                </div>
                <div class="about-content media-body">
                    <h4 class="about-title">Numpy</h4>
                    <p class="text">The fundamental package for scientific computing with Python.  It provides a high-performance multidimensional array object</p>
                </div>
            </div> <!-- single about -->
        </div>
        <div class="col-lg-6">
            <div class="single-about d-sm-flex mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1.6s">
                <div class="about-icon">
                    <img src="../static/images/pandas-logo.png" alt="Icon">
                </div>
                <div class="about-content media-body">
                    <h4 class="about-title">Pandas</h4>
                    <p class="text">pandas is a software library written for the Python programming language for data manipulation and analysis.</p>
                </div>
            </div> <!-- single about -->
        </div>
        <div class="col-lg-6">
            <div class="single-about d-sm-flex mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1.8s">
                <div class="about-icon">
                    <img src="../static/images/scikit.png" alt="Icon">
                </div>
                <div class="about-content media-body">
                    <h4 class="about-title">Scikit-learn</h4>
                    <p class="text">Scikit-learn is a free machine learning library for Python. It features various algorithms like support vector machine, random forests, and k-neighbours</p>
                </div>
            </div> <!-- single about -->
        </div>
    </div> <!-- row -->
</div> <!-- container -->
</section>

<!--====== ABOUT PART ENDS ======-->
{% endblock %}